.Connection {
}

.Connection .Connection_actions {
  display: flex;
  justify-content: center;
}

.Connection .Connection_form {
  display: flex;
  justify-content: center;
}

.Connection .Connection_data {
  display: flex;
  justify-content: space-around;
}
